Repository evoludigit/dbfast, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: cli, area: config, area: database, area: tests, area: ci, area: dependencies, area: docs, type: maintenance, security, performance

🟢 Implement TemplateManager change detection integration - tests passing
  src/change_detector.rs
  src/template.rs
  tests/change_detection_tests.rs
  tests/template_unit_tests.rs
Labels: area: tests

🔴 Add failing tests for seed command change detection integration
  tests/seed_command_change_detection_tests.rs
Labels: area: tests

🟢 Implement smart rebuilding in seed command - tests passing
  src/commands/seed.rs
Labels: none

🟢 Add comprehensive full workflow integration tests - all passing
  tests/full_workflow_integration_tests.rs
Labels: area: tests

🔧 Refactor Phase 2D - achieve platinum code quality
  benches/benchmarks.rs
  src/change_detector.rs
  src/commands/seed.rs
  src/sql_repository.rs
  src/template.rs
  tests/change_detection_tests.rs
  tests/full_workflow_integration_tests.rs
  tests/seed_command_change_detection_tests.rs
  tests/template_change_integration_tests.rs
  tests/template_unit_tests.rs
Labels: area: tests, performance

GREEN: Phase 3B Environment Commands - Basic Implementation
  src/cli.rs
  src/commands/environments.rs
  src/commands/mod.rs
  src/commands/status.rs
  src/commands/validate_env.rs
  src/main.rs
  tests/environment_commands_tests.rs
Labels: area: cli, area: tests

REFACTOR: Phase 3B Environment Commands - Platinum Code Quality
  src/commands/environments.rs
  src/commands/mod.rs
  src/commands/status.rs
  src/commands/validate_env.rs
  src/main.rs
  tests/environment_commands_tests.rs
Labels: area: cli, area: tests

fix: resolve all clippy warnings and test issues
  src/clone.rs
  src/sql_repository.rs
  src/template.rs
  tests/clone_verification_tests.rs
  tests/template_tests.rs
Labels: area: tests

feat: phase 3B - environment commands & validation system (#25)
  Cargo.toml
  src/change_detector.rs
  src/cli.rs
  src/clone.rs
  src/commands/environments.rs
  src/commands/mod.rs
  src/commands/seed.rs
  src/commands/status.rs
  src/commands/validate_env.rs
  src/lib.rs
  src/main.rs
  src/sql_repository.rs
  src/template.rs
  tests/change_detection_tests.rs
  tests/clone_verification_tests.rs
  tests/environment_commands_tests.rs
  tests/full_workflow_integration_tests.rs
  tests/seed_command_change_detection_tests.rs
  tests/template_change_integration_tests.rs
  tests/template_tests.rs
  tests/template_unit_tests.rs
Labels: area: core, area: cli, area: tests, area: dependencies, type: maintenance

🔴 RED: Add failing tests for backup creation and management
  tests/backup_tests.rs
Labels: area: tests

🟢 GREEN: Minimal implementation of backup functionality
  Cargo.toml
  src/backup.rs
  tests/backup_tests.rs
Labels: area: tests, area: dependencies, type: maintenance

🔧 REFACTOR: Improve backup implementation with real pg_dump integration
  Cargo.toml
  src/backup.rs
  tests/backup_tests.rs
Labels: area: tests, area: dependencies, type: maintenance

🔧 FIX: Improve directory handling in seed integration tests
  tests/seed_integration_tests.rs
Labels: area: tests

🔧 REFACTOR: Implement database isolation and transaction-based SQL execution
  src/database.rs
  src/template.rs
  tests/common/mod.rs
  tests/seed_integration_tests.rs
  tests/template_change_integration_tests.rs
Labels: area: tests

feat: enterprise enhancement - production ready system with 97.5/100 quality score
  Cargo.toml
  ENTERPRISE_REPORT.md
  PHASING.md
  PUBLICATION_SUMMARY.md
  README.md
  benches/enterprise_benchmarks.rs
  src/backup.rs
  src/cli.rs
  src/commands/deploy.rs
  src/commands/mod.rs
  src/commands/remote.rs
  src/config.rs
  src/database.rs
  src/errors.rs
  src/health.rs
  src/lib.rs
  src/main.rs
  src/metrics.rs
  src/observability.rs
  src/remote.rs
  src/retry.rs
  src/security.rs
  src/validators.rs
  tests/backup_tests.rs
  tests/enterprise_integration_tests.rs
  tests/environment_commands_tests.rs
  tests/errors_tests.rs
  tests/health_tests.rs
  tests/metrics_tests.rs
  tests/retry_tests.rs
  tests/seed_command_change_detection_tests.rs
  tests/template_change_integration_tests.rs
Labels: area: core, area: cli, area: tests, area: dependencies, area: docs, type: maintenance, performance

feat: Enterprise Enhancement - Production Ready System (#26)
  Cargo.toml
  ENTERPRISE_REPORT.md
  PHASING.md
  PUBLICATION_SUMMARY.md
  README.md
  benches/enterprise_benchmarks.rs
  src/backup.rs
  src/cli.rs
  src/commands/deploy.rs
  src/commands/mod.rs
  src/commands/remote.rs
  src/config.rs
  src/database.rs
  src/errors.rs
  src/health.rs
  src/lib.rs
  src/main.rs
  src/metrics.rs
  src/observability.rs
  src/remote.rs
  src/retry.rs
  src/security.rs
  src/template.rs
  src/validators.rs
  tests/backup_tests.rs
  tests/common/mod.rs
  tests/enterprise_integration_tests.rs
  tests/environment_commands_tests.rs
  tests/errors_tests.rs
  tests/health_tests.rs
  tests/metrics_tests.rs
  tests/retry_tests.rs
  tests/seed_command_change_detection_tests.rs
  tests/seed_integration_tests.rs
  tests/template_change_integration_tests.rs
Labels: area: core, area: cli, area: tests, area: dependencies, area: docs, type: maintenance, performance

fix: resolve clippy warnings and compilation errors
  src/commands/deploy.rs
  src/commands/remote.rs
  src/lib.rs
  src/main.rs
  src/observability.rs
  src/security.rs
Labels: area: core, area: cli

fix: resolve all clippy warnings for CI compliance
  benches/enterprise_benchmarks.rs.disabled
  src/clone.rs
  src/commands/deploy.rs
  src/commands/seed.rs
  src/database.rs
  src/errors.rs
  src/health.rs
  src/metrics.rs
  src/observability.rs
  src/remote.rs
  src/retry.rs
  src/security.rs
  src/validators.rs
  tests/enterprise_integration_tests.rs.disabled
  tests/errors_tests.rs
  tests/health_tests.rs
  tests/metrics_tests.rs
  tests/retry_tests.rs
Labels: area: tests, performance

fix: resolve CI failures - security and test timeout issues
  src/commands/remote.rs
  tests/clone_tests.rs
Labels: area: tests

fix: resolve CI test failures with environment-aware timeouts
  tests/performance_tests.rs
  tests/seed_command_change_detection_tests.rs
Labels: area: tests, performance

fix: increase tarpaulin coverage timeout and make it non-blocking
  .github/workflows/ci.yml
  README.md
  src/clone.rs
  src/lib.rs
  src/observability.rs
  src/security.rs
  src/validators.rs
  tests/clone_atomic_tests.rs
  tests/clone_connection_tests.rs
  tests/clone_security_tests.rs
  tests/clone_verification_tests.rs
  tests/performance_tests.rs
Labels: area: core, area: tests, area: ci, area: docs, type: maintenance, performance

docs: enhance project with comprehensive documentation and examples
  README.md
  src/cli.rs
  src/commands/seed.rs
  src/config.rs
  src/database.rs
  src/lib.rs
  src/scanner.rs
  tests/clone_tests.rs
  tests/common/mod.rs
  tests/database_tests.rs
  tests/template_tests.rs
Labels: area: core, area: tests, area: docs

fix: resolve SQL parsing error with dollar-quoted strings (issue #29)
  src/database.rs
  tests/database_tests.rs
Labels: area: tests

fix: resolve SQL parsing error with dollar-quoted strings (issue #29) (#30)
  src/database.rs
  tests/database_tests.rs
Labels: area: tests

chore: prepare release v0.2.0
  CHANGELOG.md
  Cargo.toml
Labels: area: dependencies, area: docs, type: maintenance

feat: Add multi-statement SQL file support for PostgreSQL functions
  src/config.rs
  src/database.rs
  src/template.rs
  tests/cli_tests.rs
  tests/common/mod.rs
  tests/config_flag_tests.rs
  tests/environment_commands_tests.rs
  tests/multi_statement_sql_tests.rs
  tests/seed_command_change_detection_tests.rs
  tests/sql_parsing_edge_cases.rs
  tests/template_unit_tests.rs
Labels: area: tests

fix: add multi-statement SQL file support for PostgreSQL functions (resolves #31) (#33)
  CHANGELOG.md
  Cargo.toml
  src/config.rs
  src/database.rs
  src/template.rs
  tests/cli_tests.rs
  tests/common/mod.rs
  tests/config_flag_tests.rs
  tests/environment_commands_tests.rs
  tests/multi_statement_sql_tests.rs
  tests/seed_command_change_detection_tests.rs
  tests/sql_parsing_edge_cases.rs
  tests/template_unit_tests.rs
Labels: area: tests, area: dependencies, area: docs, type: maintenance

docs: add comprehensive CI performance optimization guide
  CI_PERFORMANCE_OPTIMIZATION.md
Labels: area: docs

perf: add CI optimization implementation guide with patch file
  CI_OPTIMIZATION_PATCH.md
  ci-optimization.patch
Labels: area: docs

perf: dramatically simplify CI workflow from 5 jobs to 3
  .github/workflows/ci.yml
  CI_WORKFLOW_SIMPLIFICATION.md
  ci-simplification.patch
Labels: area: ci, area: docs, type: maintenance

perf: optimize CI by removing coverage reporting
  CI_OPTIMIZATION_PATCH.md
  ci-optimization.patch
Labels: area: docs

fix: apply CI optimization and resolve PostgreSQL transaction issues
  .github/workflows/ci.yml
  src/clone.rs
  src/database.rs
  tests/cli_tests.rs
Labels: area: tests, area: ci, type: maintenance

chore: bump version to v0.2.1 for release with CI fixes
  Cargo.toml
Labels: area: dependencies, type: maintenance

chore: bump version to v0.2.1 for release with CI fixes
  Cargo.toml
Labels: area: dependencies, type: maintenance

fix: apply CI optimization and resolve PostgreSQL transaction issues
  .github/workflows/ci.yml
  src/clone.rs
  src/database.rs
Labels: area: ci, type: maintenance

docs: update README version to v0.2.1
  README.md
Labels: area: docs

fix: remove conflicting .github/README.md to display main project README
  .github/README.md
Labels: area: ci, area: docs, type: maintenance

feat: implement hybrid SQL execution strategy for multi-statement support
  Cargo.toml
  src/database.rs
  tests/cli_tests.rs
  tests/issue_39_reproduction.rs
Labels: area: tests, area: dependencies, type: maintenance

docs: update README for v0.3.0 hybrid SQL execution strategy
  README.md
Labels: area: docs

.github/labeler.yml:

# Auto-labeling configuration for PRs
# Labels PRs based on files changed

# Core areas
"area: core":
  - changed-files:
    - any-glob-to-any-file: 'src/core/**/*'
  - changed-files:
    - any-glob-to-any-file: 'src/lib.rs'

"area: cli":
  - changed-files:
    - any-glob-to-any-file: 'src/cli/**/*'
  - changed-files:
    - any-glob-to-any-file: 'src/main.rs'

"area: config":
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/config/**/*'
      - 'dbfast.toml*'
      - '.clippy.toml'
      - 'rustfmt.toml'
      - 'rust-toolchain.toml'

"area: database":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/db/**/*'
      - 'src/postgres/**/*'

"area: tests":
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - 'benches/**/*'

# CI/CD and infrastructure
"area: ci":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

"area: dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'deny.toml'

# Documentation
"area: docs":
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'docs/**/*'
      - '**/*.md'

# Type labels based on file patterns
"type: maintenance":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'Cargo.toml'
      - 'deny.toml'
      - '.clippy.toml'

# Security related
"security":
  - changed-files:
    - any-glob-to-any-file:
      - 'deny.toml'
      - '.github/workflows/security.yml'
      - 'src/security/**/*'

# Performance related  
"performance":
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**/*'
      - 'src/performance/**/*'
      - '**/*benchmark*'
      - '**/*perf*'
