Repository evoludigit/dbfast, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: cli, area: config, area: database, area: tests, area: ci, area: dependencies, area: docs, type: maintenance, security, performance

feat: add Phase 4 micro TDD cycles with RemoteConfig and BackupManager
  .pre-commit-config.yaml
  PHASING/PHASE_4.md
  src/backup.rs
  src/lib.rs
  src/remote.rs
Labels: area: core, area: ci, area: docs

docs: mark phase 4 as complete
  PHASING/PHASE_4.md
Labels: area: docs

feat: phase 4 - micro TDD cycles for remote deployment (#18)
  .pre-commit-config.yaml
  PHASING/PHASE_4.md
  src/backup.rs
  src/lib.rs
  src/remote.rs
Labels: area: core, area: ci, area: docs

feat: add enhanced CLI status command with verbose mode
  .pre-commit-config.yaml
  Cargo.toml
  PHASING/PHASE_4.md
  src/backup.rs
  src/cli.rs
  src/commands/status.rs
  src/lib.rs
  src/main.rs
  src/remote.rs
  tests/cli_tests.rs
Labels: area: core, area: cli, area: tests, area: ci, area: dependencies, area: docs, type: maintenance

feat: add enhanced CLI status command with verbose mode (#19)
  Cargo.toml
  src/cli.rs
  src/commands/status.rs
  src/main.rs
  tests/cli_tests.rs
Labels: area: cli, area: tests, area: dependencies, type: maintenance

feat: save Phase 6 orchestrator setup before transitioning to dev
  .gitignore
  Makefile
  PHASING/ORCHESTRATOR.md
  PHASING/PHASE_2A.md
  PHASING/PHASE_2B.md
  PHASING/PHASE_2C.md
  PHASING/PHASE_2D.md
  PHASING/PHASE_3A.md
  PHASING/PHASE_3B.md
  PHASING/PHASE_4A.md
  PHASING/PHASE_4B.md
  PHASING/PHASE_6.md
  db/0_schema/01_write_side/010_blog/0101_user/010111_tb_user.sql
  db/0_schema/01_write_side/010_blog/0102_post/010211_tb_post.sql
  db/0_schema/01_write_side/010_blog/0103_comment/010311_tb_comment.sql
  db/1_seed_common/0101_admin_user.sql
  db/1_seed_common/0102_sample_users.sql
  db/2_seed_backend/0201_sample_posts.sql
  db/2_seed_backend/0202_sample_comments.sql
  scripts/complete-phase.sh
  scripts/phase-status.sh
  scripts/run-phase.sh
Labels: area: ci, area: docs

test: add failing tests for SQL file reading and parsing (RED)
  src/lib.rs
  src/sql_executor.rs
  tests/sql_execution_tests.rs
Labels: area: core, area: tests

feat: implement minimal SQL file reading and parsing (GREEN)
  src/sql_executor.rs
Labels: none

test: add failing test for SQL statement execution against database (RED)
  src/sql_executor.rs
  tests/sql_execution_tests.rs
Labels: area: tests

feat: implement SQL statement execution against PostgreSQL (GREEN)
  src/database.rs
  src/sql_executor.rs
  tests/sql_execution_tests.rs
Labels: area: tests

test: add failing test for seed command real SQL execution (RED)
  tests/seed_tests.rs
Labels: area: tests

feat: implement real SQL execution in seed command (GREEN)
  src/commands/seed.rs
  tests/seed_tests.rs
Labels: area: tests

test: update seed integration test for Phase 2A success criteria
  tests/seed_tests.rs
Labels: area: tests

refactor: clean up Phase 2A code quality (REFACTOR)
  src/commands/seed.rs
  src/sql_executor.rs
  tests/seed_tests.rs
  tests/sql_execution_tests.rs
Labels: area: tests

test: add failing tests for template creation (RED)
  test_fixtures/schema.sql
  test_fixtures/seed.sql
  tests/template_tests.rs
Labels: area: tests

feat: minimal template creation implementation (GREEN)
  src/lib.rs
  src/template.rs
Labels: area: core

refactor: improve template creation code quality and documentation
  src/lib.rs
  src/template.rs
  tests/template_tests.rs
Labels: area: core, area: tests

feat: enhance template creation with metadata and validation (GREEN)
  Cargo.toml
  Makefile
  src/template.rs
  tests/template_tests.rs
Labels: area: tests, area: ci, area: dependencies, type: maintenance

feat: integrate template creation with seed command (Phase 2B complete)
  src/commands/seed.rs
  tests/seed_tests.rs
Labels: area: tests

fix: improve test stability for seed command tests
  tests/seed_tests.rs
Labels: area: tests

test: add failing test for database cloning (RED)
  tests/clone_tests.rs
Labels: area: tests

feat: minimal database cloning implementation (GREEN)
  Makefile
  src/clone.rs
  src/database.rs
  src/lib.rs
  tests/clone_tests.rs
Labels: area: core, area: tests, area: ci

refactor: improve database cloning code quality
  src/clone.rs
  tests/clone_tests.rs
Labels: area: tests

test: add failing performance benchmark tests (RED)
  Cargo.toml
  src/clone.rs
  tests/performance_tests.rs
Labels: area: tests, area: dependencies, type: maintenance, performance

feat: integrate cloning with seed command workflow (GREEN)
  src/commands/seed.rs
  tests/seed_integration_tests.rs
Labels: area: tests

refactor: optimize and polish database cloning implementation
  src/commands/seed.rs
  tests/performance_tests.rs
  tests/seed_integration_tests.rs
Labels: area: tests, performance

feat: add template manager for Phase 2B integration
  src/lib.rs
  src/template.rs
  tests/template_tests.rs
Labels: area: core, area: tests

fix: resolve doc test issues with no_run attribute
  src/clone.rs
  src/template.rs
Labels: none

feat: Complete Phase 2B template management with real SQL execution
  src/database.rs
  src/lib.rs
  src/sql_repository.rs
  src/template.rs
  tests/database_tests.rs
  tests/sql_repository_tests.rs
  tests/template_tests.rs
Labels: area: core, area: tests

🔴 Add failing tests for database name validation and SQL injection protection
  src/clone.rs
  tests/clone_security_tests.rs
Labels: area: tests

🟢 Implement basic database name validation and SQL injection protection
  src/clone.rs
  tests/clone_security_tests.rs
Labels: area: tests

🔧 Complete Micro-Cycle 1: Industrial-grade database name validation and security
  src/clone.rs
  tests/clone_security_tests.rs
Labels: area: tests

🔴 Add failing tests for connection management and pool exhaustion prevention
  tests/clone_connection_tests.rs
Labels: area: tests

🟢 Implement basic connection management and timeout handling
  src/clone.rs
  tests/clone_connection_tests.rs
Labels: area: tests

🔧 Complete Micro-Cycle 2: Industrial-grade connection management and resource control
  src/clone.rs
  tests/clone_connection_tests.rs
Labels: area: tests

🔴 Add failing tests for atomic clone operations and rollback mechanisms
  tests/clone_atomic_tests.rs
Labels: area: tests

🔧 Complete Phase 2C final cleanup: Fix deprecation warnings and optimize code
  benches/benchmarks.rs
  src/clone.rs
  tests/clone_atomic_tests.rs
  tests/clone_verification_tests.rs
Labels: area: tests, performance

🔴 Add failing tests for change detection functionality
  tests/change_detection_tests.rs
Labels: area: tests

🟢 Implement basic ChangeDetector - tests passing
  Cargo.toml
  src/change_detector.rs
  src/lib.rs
Labels: area: core, area: dependencies, type: maintenance

🔴 Add failing tests for TemplateManager change detection integration
  tests/template_change_integration_tests.rs
Labels: area: tests

.github/labeler.yml:

# Auto-labeling configuration for PRs
# Labels PRs based on files changed

# Core areas
"area: core":
  - changed-files:
    - any-glob-to-any-file: 'src/core/**/*'
  - changed-files:
    - any-glob-to-any-file: 'src/lib.rs'

"area: cli":
  - changed-files:
    - any-glob-to-any-file: 'src/cli/**/*'
  - changed-files:
    - any-glob-to-any-file: 'src/main.rs'

"area: config":
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/config/**/*'
      - 'dbfast.toml*'
      - '.clippy.toml'
      - 'rustfmt.toml'
      - 'rust-toolchain.toml'

"area: database":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/db/**/*'
      - 'src/postgres/**/*'

"area: tests":
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - 'benches/**/*'

# CI/CD and infrastructure
"area: ci":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

"area: dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'deny.toml'

# Documentation
"area: docs":
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'docs/**/*'
      - '**/*.md'

# Type labels based on file patterns
"type: maintenance":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'Cargo.toml'
      - 'deny.toml'
      - '.clippy.toml'

# Security related
"security":
  - changed-files:
    - any-glob-to-any-file:
      - 'deny.toml'
      - '.github/workflows/security.yml'
      - 'src/security/**/*'

# Performance related  
"performance":
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**/*'
      - 'src/performance/**/*'
      - '**/*benchmark*'
      - '**/*perf*'
